###### Classify the email using the binary classification method. Email Spam detection has two # states:
###### a) Normal State – Not Spam, b) Abnormal State – Spam. 
###### Use K-Nearest Neighbors and 
###### Support Vector Machine for  classification.
###### Analyze their performance.
###### Dataset link: The emails.csv dataset on the Kaggle
###### https://www.kaggle.com/datasets/balaka18/email-spam-classification-dataset-csv

In [24]:
# For reading the dataset and other calculation importing the pandas and numpy library
import pandas as pd
import numpy as np

In [25]:
# Load the dataset of emails
df = pd.read_csv('emails.csv')
#show 5 rows firstly
df.head()

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,Email 1,0,0,1,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Email 2,8,13,24,6,6,2,102,1,27,...,0,0,0,0,0,0,0,1,0,0
2,Email 3,0,0,1,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Email 4,0,5,22,0,5,1,51,2,10,...,0,0,0,0,0,0,0,0,0,0
4,Email 5,7,6,17,1,5,2,57,0,9,...,0,0,0,0,0,0,0,1,0,0

In [26]:
#show last 5 rows
df.tail()

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
5167,Email 5168,2,2,2,3,0,0,32,0,0,...,0,0,0,0,0,0,0,0,0,0
5168,Email 5169,35,27,11,2,6,5,151,4,3,...,0,0,0,0,0,0,0,1,0,0
5169,Email 5170,0,0,1,1,0,0,11,0,0,...,0,0,0,0,0,0,0,0,0,1
5170,Email 5171,2,7,1,0,2,1,28,2,0,...,0,0,0,0,0,0,0,1,0,1
5171,Email 5172,22,24,5,1,6,5,148,8,2,...,0,0,0,0,0,0,0,0,0,0

In [27]:
#How many columns and row are present in dataset
df.shape

(5172, 3002)

In [28]:
# Shows the column names
df.columns

Index(['Email No.', 'the', 'to', 'ect', 'and', 'for', 'of', 'a', 'you', 'hou',
       ...
       'connevey', 'jay', 'valued', 'lay', 'infrastructure', 'military',
       'allowing', 'ff', 'dry', 'Prediction'],
      dtype='object', length=3002)

In [29]:
# giving the information of dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5172 entries, 0 to 5171
Columns: 3002 entries, Email No. to Prediction
dtypes: int64(3001), object(1)
memory usage: 118.5+ MB

In [30]:
# describe the dataset in statistical calculation.
df.describe()

,the,to,ect,and,for,of,a,you,hou,in,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
count,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,...,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000
mean,6.640565,6.188128,5.143852,3.075599,3.124710,2.627030,55.517401,2.466551,2.024362,10.600155,...,0.005027,0.012568,0.010634,0.098028,0.004254,0.006574,0.004060,0.914733,0.006961,0.290023
std,11.745009,9.534576,14.101142,6.045970,4.680522,6.229845,87.574172,4.314444,6.967878,19.281892,...,0.105788,0.199682,0.116693,0.569532,0.096252,0.138908,0.072145,2.780203,0.098086,0.453817
min,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,12.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.000000,3.000000,1.000000,1.000000,2.000000,1.000000,28.000000,1.000000,0.000000,5.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,8.000000,7.000000,4.000000,3.000000,4.000000,2.000000,62.250000,3.000000,1.000000,12.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
max,210.000000,132.000000,344.000000,89.000000,47.000000,77.000000,1898.000000,70.000000,167.000000,223.000000,...,4.000000,7.000000,2.000000,12.000000,3.000000,4.000000,3.000000,114.000000,4.000000,1.000000

In [31]:
df.dtypes

Email No.     object
the            int64
to             int64
ect            int64
and            int64
               ...
military       int64
allowing       int64
ff             int64
dry            int64
Prediction     int64
Length: 3002, dtype: object

In [32]:
#Checking the null value 
df.isnull().sum()

Email No.     0
the           0
to            0
ect           0
and           0
             ..
military      0
allowing      0
ff            0
dry           0
Prediction    0
Length: 3002, dtype: int64

#### Cleaning

In [33]:
# Deleting  the unnessary column in the dataset 
df.drop(['Email No.'],axis=1,inplace=True)
X = df.drop(['Prediction'],axis = 1)
y = df['Prediction']

In [34]:
df.isnull().sum()

the           0
to            0
ect           0
and           0
for           0
             ..
military      0
allowing      0
ff            0
dry           0
Prediction    0
Length: 3001, dtype: int64

In [35]:
#provides a collection of functions that make matplotlib work 
import matplotlib.pyplot as plt
%matplotlib inline 

#provides functions to control how warnings are issued and displayed.
import warnings
warnings.filterwarnings('ignore')#  tell to ignore all warnings that occur in the code.

#For training and testing that we importing this package.
from sklearn.model_selection import train_test_split

# This model is use for classification task in ml
from sklearn.svm import SVC

#It is use for evaluating the ML accuracy : accuracy score, confusion ,matrix etc
from sklearn import metrics

In [36]:
# scalimg and standarizing your data
from sklearn.preprocessing import scale
X = scale(X)

In [37]:
# Split data into train and testing 
#random number  = 42
X_train, X_test, y_train ,y_test = train_test_split(X, y,test_size=0.3, random_state=42)

In [38]:
#classifies data points based on majority class among the nearest neighbours
from sklearn.neighbors import KNeighborsClassifier

#considering the lael of nearest 7 neighbours
knn = KNeighborsClassifier(n_neighbors=7)

knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)

In [39]:
print("Prediction", y_pred)

Prediction [0 0 1 ... 1 1 1]

In [40]:
y_pred

array([0, 0, 1, ..., 1, 1, 1], dtype=int64)

In [41]:
#predicting the accuracy
print("KNN accuracy = ",metrics.accuracy_score(y_test,y_pred))
print("Confusion matrix",metrics.confusion_matrix(y_test,y_pred))

KNN accuracy =  0.8009020618556701
Confusion matrix [[804 293]
 [ 16 439]]

In [42]:

# svm separates data points in differrent classes in the feature space
model = SVC(C = 1)

# fitting the model
model.fit(X_train, y_train)

# predict
y_pred = model.predict(X_test)

metrics.confusion_matrix(y_true=y_test, y_pred=y_pred)

array([[1091,    6],
       [  90,  365]], dtype=int64)

In [43]:
print(" SVM Accuracy:", metrics.accuracy_score(y_test, y_pred))

 SVM Accuracy: 0.9381443298969072